<div class="row mt-5">
    <div class="col-12">
        <h2 class="explainer-text text-light mb-4">Review music. Share with your freinds.</h2>
        <div class="row">
            <div class="col-12">
                <button id="writeReview" type="button" class="btn btn-danger btn-lg btn-lg mb-4 ">Write A
                    Review!
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-white reviewbox">

            <div class="card-body feed-card">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title text-danger">My Reviews</h4>
                    </div>
                </div>
                <div class="row">
                    {{#each reviews}}
                    <div class="reviews col-sm-12 col-md-5">
                        <div class="row">
                            <div class="col-12">
                                <p id="trackName">Song: {{track_name}}</p>
                                <p id="trackArtist">Artist: {{track_artist}}</p>
                            </div>
                        </div>
                        <p>Rating: {{rating}}/5</p>
                        <div class="col-9 mb-3">
                            <div class=" col-l2 ml-2 spotifyplayer">
                                <iframe src="https://open.spotify.com/embed/track/{{track_id}}" width="400" height="80"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                        <p>{{review_text}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/assets/js/writeReview.js"></script>