<div class="row mt-4">
    <div class="col-12">
        <h4 class="card-title text-danger pb-4">Choose Something to Review</h4>
    </div>
    <div class="row mt-4">
        {{#each track}}
        <div class="col-lg-5 col-md-12 searchResults">
            <div class="row">
                <div class="col-3 searchresultimg">
                    <img class="resultImage" src="{{imgURL}}" alt="Result Image Here" style="width:100px;height:100px;">
                </div>
                <div class="col-9  text-white">
                    <div class="row">
                        <div class="col-12">
                            <p id="trackName">{{track_name}}</p>
                            <div class="row">
                                <div class="col-8">
                                    <p id="trackArtist">{{track_artist}}</p>
                                </div>

                                <div class="col-4" id="#trackCard" class="card" data-imgURL="{{imgURL}}"
                                    data-track_name="{{track_name}}" data-track_artist="{{track_artist}}"
                                    data-track_id="{{track_id}}">
                                    <button class="btn btn-outline-danger bg-dark my-2 my-sm-0 chooseToReview"
                                        type="submit">Review</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-l2 ml-2 spotifyplayer">
                            <iframe src="https://open.spotify.com/embed/track/1Cc6rFGKZnUR6FFePuuXqB" width="340"
                                height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>