
<h1>Tracks</h1>

<div class="row mt-5">
    {{#each track}}
    <div class="col-5 searchResults">
        <div class="row" data-imgURl="{{imgURL}}" data-track_name="{{track_name}}" data-track_artist="{{track_artist}}" data-track_id="{{track_id}}">
            <div class="col-3 searchresultimg">
                <img class="resultImage" src="{{imgURL}}" alt="Result Image Here" style="width:100px;height:100px;">
            </div>
            <div class="col-9  text-white">
                <p>{{track_name}}</p>
                <p>{{track_artist}}</p>

            </div>
             <a id="chooseReviewItemButton" class="btn btn-primary">Review</a>
        </div>       
    </div>
    {{/each}}
</div>



<script src="/assets/js/chooseReview.js"></script>




