<div class="row mt-4">
    <div class="col-12">
        <h4 class="card-title text-danger pb-4">Choose a Song to Review</h4>
    </div>
    <div class="row mt-4 text-white">
        {{#each track}}
        <div class="searchResults col-xs-12 col-s-5">
            <div class="row">
                <div class="col-12">
                    <p class="ml-2" id="trackName">Song: {{track_name}}</p>
                </div>
            </div>
            <div class="row">

                <div class="col-3 searchresultimg">
                    <img class="resultImage" src="{{imgURL}}" alt="Result Image Here" style="width:100px;height:100px;">
                </div>
                <div class="col-8 mt-2 ml-4">
                    <div class="row">
                        <div class="col-xs-12 col-s-8 ml-2">
                            <p id="trackArtist">Artist: {{track_artist}}</p>
                        </div>
                        <div class="col-xs-12 col-s-3 ml-4" id="#trackCard" class="card" data-imgURL="{{imgURL}}"
                            data-track_name="{{track_name}}" data-track_artist="{{track_artist}}"
                            data-track_id="{{track_id}}">
                            <button id="chooseReviewItemButton"
                                class="btn btn-outline-danger bg-dark my-2 my-sm-0 chooseToReview" type="submit">Review
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 ml-3">
                <div class="col-l2 ml-2 spotifyplayer">
                    <iframe src="https://open.spotify.com/embed/track/{{track_id}}" frameborder="0"
                        allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/assets/js/chooseReview.js"></script>