<div class="row " style="margin-top: 50px">
    <div class="col-md-6 col-md-offset-3 form-container">
        <h2>Review</h2>
        <p>
            Please provide your review below:
        </p>

        <div id="#trackCard" class="card" data-imgURl="{{imgURL}}" data-track_name="{{track_name}}" data-track_artist="{{track_artist}}">
            <div class="col-3 searchresultimg">
                <img class="resultImage" src="{{imgURL}}" alt="Result Image Here" style="width:100px;height:100px;">
            </div>
            <div class="col-9  text-white">
                <p>{{track_name}}</p>
                <p>{{track_artist}}</p>
            </div>
        </div>  


        <div class="input-group">
            <textarea class="form-control" placeholder="Enter your review here..." aria-label="With textarea"></textarea>
            <button type="submit" class="btn btn-lg btn-success btn-block">Write Review </button>
        </div>
    </div>
</div>
    

