<div class="row" style="margin-top: 50px">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3 form-container">
        <h2 class="explainer-text">Review</h2>
        <div class="row mt-4">
            {{#with data}}
            <div class="col-12 writeReviewSelection">
                <div class="row">
                    <div class="col-3 searchresultimg">
                        <img class="resultImage" src="{{imgURL}}" alt="Result Image Here"
                            style="width:110px;height:110px;">
                    </div>
                    <div class="col-9  text-white">
                        <div class="row">
                            <div class="col-12">
                                <p id="trackName">{{track_name}}</p>
                                <div class="row">
                                    <div class="col-8">
                                        <p id="trackArtist">{{track_artist}}</p>
                                    </div>

                                    <div class="col-4" id="trackCard" class="card" data-imgURL="{{imgURL}}"
                                        data-track_name="{{track_name}}" data-track_artist="{{track_artist}}"
                                        data-track_id="{{track_id}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-l2 ml-2 spotifyplayer">
                                <iframe src="https://open.spotify.com/embed/track/{{track_id}}" width="340" height="75"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        <div class="row" id="post-review-box">
            <div class="col-md-12">
                <form accept-charset="UTF-8" action="" method="post">
                    <textarea id="reviewText" class="form-control animated" cols="50" id="new-review" name="comment"
                        placeholder="Enter your review here..." rows="5"></textarea>
                    <h5 class="ratesongtext mt-4">Rate Song from 1-5</h5>
                    <section class='rating-widget'>
                        <!-- Rating Stars Box -->
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <div class="row">
                        <div id="postButtonParent" class="col-sm-12 form-group">
                            <button type="submit" class="btn btn-lg btn-block btn-outline-danger" id="postbtn">Post Review</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<script src="/assets/js/postReview.js"></script>