<div class="row" style="margin-top: 50px">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3 form-container">
        <div class="row mt-4">
            {{#each track}}
            <div class="col-lg-5 col-md-12 searchResults">
                <div class="row">
                    <div class="col-3 searchresultimg">
                        <img class="resultImage" src="{{imgURL}}" alt="Result Image Here"
                            style="width:110px;height:110px;">
                    </div>
                    <div class="col-9  text-white">
                        <div class="row">
                            <div class="col-12">
                                <p id="trackName">{{track_name}}</p>
                                <div class="row">
                                    <div class="col-8">
                                        <p id="trackArtist">{{track_artist}}</p>
                                    </div>

                                    <div class="col-4" id="#trackCard" class="card" data-imgURL="{{imgURL}}"
                                        data-track_name="{{track_name}}" data-track_artist="{{track_artist}}"
                                        data-track_id="{{track_id}}">
                                        <button id="chooseReviewItemButton"
                                            class="btn btn-outline-danger bg-dark my-2 my-sm-0 chooseToReview"
                                            type="submit">Review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-l2 ml-2 spotifyplayer">
                                <iframe src="https://open.spotify.com/embed/track/{{track_id}}" width="340" height="75"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <h2 class="explainer-text">Review</h2>
        <div class="row" id="post-review-box">
            <div class="col-md-12">
                <form accept-charset="UTF-8" action="" method="post">
                    <textarea class="form-control animated" cols="50" id="new-review" name="comment"
                        placeholder="Enter your review here..." rows="5"></textarea>
                    <h5 class="ratesongtext">Rate Song from 1-5</h5>
                    <div class="btn-toolbar mb-2 ratingoptions" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                            <button type="button" class="btn btn-secondary">5</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button type="submit" class="btn btn-lg btn-block btn-outline-danger" id="postbtn"> Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>